<!DOCTYPE html>
<html>
<head>
    <title>Список пользователей</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="allusers">
        </form>
        <table>

        <tr><th>Начало</th><th>Конец</th><th>Фильм</th><th>Количество мест</th><th>Жанр</th><th>Дата выхода фильма</th><th></th></tr>
        {{#each session}}
            <tr>
                <td>{{this.start_at}}</td>
                <td>{{this.end_at}}</td>
                <td>{{this.name}}</td>
                <td>{{this.seats}}</td>
                <td>{{this.genre}}</td>
                <td>{{this.release_date}}</td>
                     <form action="/sort" method="get">
       <input type="submit" value="Купить билет"/>
     </form>
            </tr>
        {{/each}} <tr>

        </tr> 

     <form action="/sort" method="get">
       <input type="submit" value="К отсортированным фильмам"/>
     </form>
        

        </table>
     <form action="/check" method="get">
       <input type="submit" value="Выйти"/>
     </form>
    </div>
</body>
</html>