<!DOCTYPE html>
<html>
<head>
    <title>Список пользователей</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <div class="allusers">
<div class="container">
  <ul class="responsive-table">
    <li class="table-header">
                            <form action="movie" method="GET" style="display:inline;">
                        <input type="submit" value="Фильмы" />
                    </form>
                    <form action="hall" method="GET" style="display:inline;">
                        <input type="submit" value="Залы">
                    </form>
                        <form action="create_session" method="GET">
            <input type="submit" value="Добавить сессию">
            </form>
                         <form action="/create" method="get">
       <input type="submit" value="Добавить кассира"/>
       
     </form>
    </li>
    <li class="table-header">
      <div class="col col-1">Время начала</div>
      <div class="col col-2">Время конца</div>
      <div class="col col-3">Фильм</div>
      <div class="col col-4">Количество мест</div>
      <div class="col col-5">Номер зала</div>
      <div class="col col-6">Редактирование</div>
    </li>
    {{#each session}}
    <li class="table-row">
      <div class="col col-1">{{this.start_at}}</div>
      <div class="col col-2" >{{this.end_at}}</div>
      <div class="col col-3" >{{this.name}}</div>
      <div class="col col-4">{{this.seats}}</div>
      <div class="col col-5">{{this.halls_id}}</div>
                    <form action="delete_session/{{this.id}}" method="POST" style="display:inline;">
                        <input type="submit" value="Удалить" />
                    </form>               
                    <form action="edit_session/{{this.id}}" method="GET" style="display:inline;">
                        <input type="submit" value="Изменить">
                    </form>                       
    </li>
    {{/each}}
  </ul>
  </div>
</div>
</body>
</html>